<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <!-- <li class="treeview" *ngIf="shared.user.profile != 'ADMIN'"> -->
        <li class="treeview" >
        <a href="#">
          <i class="fa fa-edit"></i> <span>Curriculum</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a ><i class="fa fa-circle-o"></i> List</a></li>
          <li ><a ><i class="fa fa-circle-o"></i> New Ticket</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>